:root{
    --font-family-principal: 'Montserrat', sans-serif;
    --font-family-second: 'Lato', sans-serif;
    --primary-color: #87425F;
    --secundary-color: #EFB99D;
    --ligth-color:rgb(254, 245, 228);
    --neutral-color:rgb(172, 167, 171);
    --dark-color: rgb(59, 3, 16);
    --font-size-textBasic: 1.6rem;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{

    font-size: 62.5%;
}
a {
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    font-family: var(--font-family-second);
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 320px;
    height: 15vh;
    /* margin-bottom: 30px; */
    box-shadow: 0px 3px 16px var(--neutral-color);
    background-color: var(--ligth-color);
}
.Home-container{
    display: flex;
    justify-content: center;
    align-items:center ;
}
.Home-container a{
    display: none;
}
.header-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    margin-right: 50px;
}
.header-icons .icon-social{
    width: 52px;
    height: 52px;
}
.circulo-redes{
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 15px;
    font-size: 20px;
    transition-duration: 0.3s;
    color: var(--ligth-color);
    background-color: var(--primary-color);
}
.circulo-redes:hover{
    background-color: var(--ligth-color);
    border:  var(--dark-color) 1px solid;
    color: var(--dark-color);
}

.title-container{
    padding: 30px 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2.4rem;
    font-family: var(--font-family-principal);
    font-weight: bold;
}
/* seccion principal */
.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 30px;
    margin-bottom: 30px;
    background-color:rgba(255, 255, 255, 0.705);
}
.flex-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 200px;
}
/* detalles de la tarjeta */
.flex-container img{
    margin: 0 auto;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
}
.question-box{
    margin-bottom: 15px;
}
.question-container{
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-textBasic);
}
.question-container select{
    cursor: pointer;
    padding: 5px;
    height:auto ;
    border: 2px solid var(--dark-color);
    border-radius: 10px;
    outline: none;
}
#select option{
    background-color: var(--ligth-color);
    border: none;
}


.error{
    font-size: 1.2rem;
    color: red;
}
.addList-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: var(--font-size-textBasic);
}
.addList-container label{
    margin-bottom: 8px;
}
.addList-container input{
    outline: none;
    padding: 0px 5px;
    height: 2.5rem;
    margin-bottom: 5px;
    border-radius: 20px;
}
.addList-container button{
    padding: 5px;
    margin-top: 5px;
    border-radius: 20px;
    border: 1px solid var(--dark-color);
    background-color: var(--secundary-color);
}
.addList-container button:hover{
    background-color: var(--neutral-color);
    color: var(--dark-color);
    cursor: pointer;
}
.button{
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid var(--dark-color);
    background-color: var(--primary-color);
}
.button:hover{
    cursor: pointer;
    background-color: var(--neutral-color);
    color: black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);
}
.List-items-Container{
    font-size: var(--font-size-textBasic);
    margin: 10px auto;
}
.List-items{
    margin: 10px;
    padding: 10px;
}

.addPorcentage{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: var(--font-size-textBasic);
}

.addPorcentage input{
    outline: none;
    padding: 0px 5px;
    height: 2.5rem;
    margin: 5px 0px;
    border-radius: 20px;
}

/* resultados */
.result-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100vh;
    width: 100%;
    background-color: rgba(172, 167, 171, 0.616);
    display: none;
    justify-content: center;
    align-items: center ;
}
.result-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 290px;
    height: 250px;
    background-color: var(--ligth-color);
    padding: 10px 25px 20px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.842);
}
.result-box p{
    font-size: var(--font-size-textBasic);
    text-align: right;
    margin-bottom: 10px;
}
.result-box span{
    cursor: pointer;
}
.result-box img{
    margin: 0 auto;
    width: 80px;
    height: 80px;
}
.result-box .title{
    font-size: 2.4rem;
    margin-bottom: 10px;
}
.result-box h4{
    margin-bottom: 5px;
    font-weight: normal;
    font-size: var(--font-size-textBasic);
}
.result-box h5{
    font-size: 1.2rem;
    font-weight: lighter;
}

/* seccion de footer */

/* footer */
footer{
    width: 100%;
    height: 10vh;
}
 .workshop-container{
    display: flex;
    flex-direction: column;
    
    background-color: var(--ligth-color);
    box-shadow: 3px 0px 16px var(--neutral-color);
}
.workshop-container li {
    min-width:200px ;
    list-style: none;
    padding: 20px;
    border: solid 1px var(--secundary-color);
}

.workshop-container li a {
    color: black;
    font-size: 1.8rem;
}
.icon-workshop{
    width:80px ;
    height: 80px;
    margin-right: 20px;
}
.workshop-item{
    display: flex;
    align-items: center;
}
.workshop-container:hover .workshop-item{
    background-color: var(--secundary-color);
    transform: translate(-2px,2px);
    transition: 300ms;
}
.workshop-container .workshop-item:hover {
    transform: translate(2px,-2px);/* animacion */
    transition: 300ms;
    background-color: var(--ligth-color);
    border: none;
} 