:root{
    --font-family-principal: 'Montserrat', sans-serif;
    --font-family-second: 'Lato', sans-serif;
    --primary-color: #87425F;
    --secundary-color: #EFB99D;
    --ligth-color:rgb(254, 245, 228);
    --neutral-color:rgb(172, 167, 171);
    --dark-color: rgb(59, 3, 16);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
a {
    text-decoration: none;
}
li{
    list-style: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    font-family: var(--font-family-second);
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 320px;
    height: 15vh;
    /* margin-bottom: 30px; */
    box-shadow: 0px 3px 16px var(--neutral-color);
    background-color: var(--ligth-color);
}
.Home-container{
    display: flex;
    justify-content: center;
    align-items:center ;
}
.Home-container a{
    display: none;
}
.header-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    margin-right: 50px;
}
.header-icons .icon-social{
    width: 52px;
    height: 52px;
}
.circulo-redes{
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 15px;
    font-size: 20px;
    transition-duration: 0.3s;
    color: var(--ligth-color);
    background-color: var(--primary-color);
}
.circulo-redes:hover{
    background-color: var(--ligth-color);
    border:  var(--dark-color) 1px solid;
    color: var(--dark-color);
}

.title-container{
    padding: 30px 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2.4rem;
    font-family: var(--font-family-principal);
    font-weight: bold;
}
/* seccion principal main */
.Flex-container{
    width: 100%;
    min-height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
 .form-container{
    width: 100%;
    min-width:280px;
    height: 500px;
    padding: 30px;
    margin: 10px 0px;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-container h3{
    font-size: 2.2rem;
    text-align: center;
    color: var(--dark-color);
}
.flex-form{
    display: flex;
    flex-direction: column;
}
.flex-form input{
    font-size: 1.6rem;
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    background-color: var(--secundary-color);
    border-radius: 20px;
    outline: none;
    color: rgb(53, 53, 53);
}
::placeholder{
    color: var(--primary-color);
}
.flex-form--side{
    display: flex;
    justify-content: flex-start;
}
.flex-form--side input{
    width: 90%;
    border-radius: 20px;
} 
 .img-fig{
    width: 150px;
    height: 150px;
    align-self: center;
    margin: 0 auto;
}
.fig-square{
    width: 150px;
    height: 150px;
    border: 6px solid black;
}
.fig-circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border:6px solid black; ;
}  

/* diseño del formulario por dentro */
 .flex-form label{
    margin-bottom: 5px;
    padding: 5px 5px;
    font-size: 1.6rem;
}
.container-buttom{
    margin-bottom: 5px;
}
.container-buttom button{
    font-size: 1.4rem;
    padding: 8px;
    margin: 5px;
    border: none;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: white;
}
.container-buttom button:hover{
    box-shadow: 2px 2px 10px var(--neutral-color);
    cursor: pointer;
}

/* footer */
footer{
    width: 100%;
    height: 10vh;
}
 .workshop-container{
    display: flex;
    flex-direction: column;
    
    background-color: var(--ligth-color);
    box-shadow: 3px 0px 16px var(--neutral-color);
}
.workshop-container li {
    min-width:200px ;
    list-style: none;
    padding: 20px;
    border: solid 1px var(--secundary-color);
}

.workshop-container li a {
    color: black;
    font-size: 1.8rem;
}
.icon-workshop{
    width:80px ;
    height: 80px;
    margin-right: 20px;
}
.workshop-item{
    display: flex;
    align-items: center;
}
.workshop-container:hover .workshop-item{
    background-color: var(--secundary-color);
    transform: translate(-2px,2px);
    transition: 300ms;
}
.workshop-container .workshop-item:hover {
    transform: translate(2px,-2px);/* animacion */
    transition: 300ms;
    background-color: var(--ligth-color);
    border: none;
} 