.Home-container a{
    display: block;
    padding: 10px;
    margin-left: 50px;
    color: black;
    font-size: 1.7rem;
    font-weight: bold;
    transition: transform 0.5s;
    border-radius: 20px;
}
.Home-container a:hover{
    background-color:var(--primary-color);
    transform: scale(1.1);
    color: var(--ligth-color);
}

.form-container{
    width: 400px;
    border-radius: 50px;
}

.workshop-container{
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
}